

.sortDropdownButton {
  font-family: 'Inter';
  font-size: 16px;
  border-color: rgba(23, 20, 20, 0.3);
}

.dropdownList {
  border-left: 1px solid rgba(23, 20, 20, 0.3);
  border-right: 1px solid rgba(23, 20, 20, 0.3);
  border-bottom: 1px solid rgba(23, 20, 20, 0.3);
  border-top: 1px solid rgba(23, 20, 20, 0.3);
}
