.themedText {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.h1 {
  font-size: 32px;
  font-family: var(--font-sfmono), monospace;
  font-weight: 600;
}
@media (min-width: 768px) {
  .h1 {
    font-size: 48px;
  }
}

/* H2 */
.h2 {
  font-size: 32px;
  font-family: var(--font-sfmono), monospace;
}
@media (min-width: 768px) {
  .h2 {
    font-size: 30px;
  }
}

/* H3 */
.h3 {
  font-size: 20px;
}
@media (min-width: 768px) {
  .h3 {
    font-size: 24px;
  }
}

/* H4 */
.h4 {
  font-size: 16px;
}
@media (min-width: 1024px) {
  .h4 {
    font-size: 20px;
  }
}

/* H5 */
.h5 {
  font-size: 16px;
}

/* empty — без особых стилей */
.empty {
}
