.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

.panel {
  position: absolute;
  top: 0;
  left: -6px;
  background: linear-gradient(180deg, #f9f7f3 0%, #edfdf4 100%);
  border: 1px solid rgba(0, 0, 0, 0.1);
  overflow: visible; 
  will-change: transform;
  pointer-events: auto;
  border-radius: 20px;
  margin-left: 16px;
  z-index: 2;
}

.handle {
  position: absolute;
  width: 56px;
  height: 45px;
  left: -6px;
  background: linear-gradient(180deg, #f9f7f3 0%, #edfdf4 100%);
    border: none;
    border-radius: 0 20px 20px 0;
  margin-left: -10px; 
  cursor: grab;
  touch-action: none;
  pointer-events: auto;
  z-index: 12;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}


.handle:active {
  cursor: grabbing;
}

.handleDragging {
  transition: none;
}

.handleNotDragging {
  transition: left 250ms ease-out;
}

.panelDragging {
  transition: none;
}

.panelNotDragging {
  transition: transform 250ms ease-out;
}
