.about {
  position: relative;
  padding: 60px 70px;
  z-index: 2;
}

.aboutText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--black);
  gap: clamp(12px, 2vw, 20px);
  max-width: 1300px;
  margin: 0 auto;
}

.aboutHeadingWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 80px;
  width: 100%;
  margin-bottom: clamp(20px, 3vw, 30px);
}

.aboutHeading {
  font-size: clamp(28px, 5vw, 48px);
  font-weight: 400;
  color: var(--black);
  line-height: 1.2;
  white-space: nowrap;
}

.aboutDescription {
  font-size: clamp(16px, 2.5vw, 20px);
  font-weight: 400;
  font-family: "Inter", sans-serif;
  max-width: clamp(300px, 70vw, 820px);
  color: var(--black);
  line-height: 1.5;
}

.divider {
  flex: 1;
  height: 1px;
  border-top: 1px solid #000;
}

@media (max-width: 835px) {
  .about {
    padding: 50px 20px;
  }

  .aboutHeadingWrapper {
    flex-direction: column;
    margin-bottom: clamp(10px, 2vw, 20px);
    gap: 20px;
  }

  .divider {
    order: -1;
    flex: none;
    width: 80%;
  }

  .aboutLine {
    width: 80%;
    top: 60%;
  }

  .aboutText {
    gap: clamp(10px, 2vw, 15px);
  }

  .aboutHeading {
    margin-top: clamp(10px, 2vw, 20px);
  }

  .aboutDescription {
    font-size: clamp(14px, 3vw, 18px);
    max-width: 100%;
  }
}

@media (max-width: 480px) {
  .aboutLine {
    width: 90%;
    top: 70%;
  }
}
