.chatMenu {
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease;
}

.chatMenuContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 150px 20px;
  flex: 1;
  overflow-y: auto;
}

.chatMenuTitle {
  font-size: 48px;
  font-weight: 400;
  font-family: inherit;
  color: var(--black);
  margin-top: 40px;
  margin-bottom: 16px;
}

.chatMenuDescription {
  font-size: 20px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  text-align: center;
  color: var(--black);
  margin-bottom: 40px;
}

.chatMenuButtons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  margin-top: 40px;
}

.chatMenuBtn {
  font-size: 20px !important;
  padding: 20px 60px !important;
  width: 100% !important;
}

.chatMenuBtn:hover {
  background-color: var(--white) !important;
  outline: 1px solid var(--black) !important;
  color: var(--black) !important;
}

@media (max-width: 1024px) {
  .chatMenuClose {
    position: absolute;
    top: 80px;
    left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--black);
    z-index: 50;
    width: 60px;
    height: 60px;
    border-radius: 50px;
  }
}

@media (max-width: 834px) {
  .chatMenuContainer {
    padding: 100px 20px;
  }
}

@media (max-width: 483px) {
  .chatMenu {
    width: 100%;
  }

  .chatMenuIcon {
    width: 100px;
    height: 120px;
  }

  .chatMenuTitle {
    font-size: 32px;
    margin-top: 10px;
    margin-bottom: 0;
  }

  .chatMenuDescription {
    font-size: 16px;
  }

  .chatMenuBtn {
    font-size: 20px;
    width: 100% !important;
    padding: 20px 30px !important;
  }
}
