.hero {
  background: #a58e6a;
  padding-top: 3.5rem;
}

.heroBgImage {
  z-index: 0;
  object-fit: cover;
  object-position: 50% 120%; 
}


@media (min-width: 40rem /* 640px */) {
  .heroBgImage {
    object-position: 65% 50%; 
  }
}


@media (min-width: 48rem /* 768px */) {
  .heroBgImage {
    object-position: 75% 35%; 
  }
}

/* Desktop (1024px+) */
@media (min-width: 64rem ) {
  .heroBgImage {
    object-position: 100% 50%; 
    left: 200px !important; 
  }
}

.heroContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 21.5rem;
  background: linear-gradient(
    to top,
    rgba(163, 140, 103, 0) 16.92%,
    #a58e6a 57.7%
  );

  pointer-events: none;
  z-index: 1;
}

.heroContainer::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 21.875rem;
  background: linear-gradient(
    to bottom,
    rgba(163, 140, 103, 0) 0%,
    #a58e6a 42.52%
  );
  pointer-events: none;
  z-index: 1;
}
.heroLeft {
  z-index: 3;
}

.heroText {
  display: flex;
}

.heroTextTitle {
  color: var(--white);
  font-size: 35px;
  font-family: var(--font-roboto);
  font-weight: 600;
  line-height: 42px;
}

.heroTextSubtitle {
  font-weight: 400;
  font-family: "Inter", sans-serif;
  color: var(--white);
}
.heroMenu {
  font-size: 20px;
}
.heroLink {
  width: 100%;
  max-width: 346px;
}

.heroCatalogBtn {
  background: var(--green);
  color: var(--white);
}
.heroChatBtn {
  background: none;
  box-shadow: inset 0 0 0 1px rgb(255, 255, 255);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  color: var(--white);
}
.heroCatalogBtn:hover {
  background: var(--dark-green);
  transform: translateY(-1px);
}
.heroChatBtn:hover {
  transform: translateY(-1px);
  box-shadow: inset 0 0 0 2px rgb(255, 255, 255);
}

@media (width >= 48rem /* 768px */) {
  .hero {
    padding-top: 0;
  }
  .heroTextTitle {
    line-height: 42px;
    font-size: 36px;
  }
  .heroContainer::before {
    width: 22.5rem;
    height: 100%;
    background: linear-gradient(
      270deg,
      rgba(163, 140, 103, 0) 0%,
      #a58e6a 65.51%
    );
  }
  .heroContainer::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 21.875rem;
    background: linear-gradient(
      180deg,
      rgba(163, 140, 103, 0) 0%,
      #a58e6a 65.51%
    );

    pointer-events: none;
    z-index: 1;
  }
  .heroMenu {
    font-size: 16px;
  }
}
@media (width >= 64rem /* 1024px */) {
  .heroContainer::before {
    width: 40.625rem;
    height: 100%;
  }
  .heroContainer::after {
    content: none;
  }
  .heroTextTitle {
    line-height: 56px;
    font-size: 48px;
  }
}
