.hero {
  background: linear-gradient(0deg, #d1c4ac, #d1c4ac),
    linear-gradient(0deg, rgba(0, 0, 0, 0.27), rgba(0, 0, 0, 0.27));
  padding-top: 3.75rem;
}
.heroContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 21.5rem;
  background: linear-gradient(
    to bottom,
    rgba(165, 142, 106, 1) 0%,
    rgba(163, 140, 103, 0) 100%
  );
  pointer-events: none;
  z-index: 1;
}

.heroLeft {
  z-index: 3;
}

.heroText {
  display: flex;
}

.heroTextTitle {
  color: var(--white);
}

.heroTextSubtitle {
  font-weight: 400;
  font-family: "Inter", sans-serif;
  color: var(--white);
}
.heroMenu {
  font-size: 20px;
}
.heroLink {
  width: 100%;
  max-width: 346px;
}

.heroCatalogBtn {
  background: var(--green);
  color: var(--white);
}
.heroChatBtn {
  background: none;
  box-shadow: inset 0 0 0 1px rgb(255, 255, 255);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  color: var(--white);
}
.heroCatalogBtn:hover {
  background: var(--dark-green);
  transform: translateY(-1px);
}
.heroChatBtn:hover {
  transform: translateY(-1px);
  box-shadow: inset 0 0 0 2px rgb(255, 255, 255);
}

@media (width >= 48rem /* 768px */) {
  .hero {
    padding-top: 0;
  }
  .heroTextTitle {
    line-height: 42px;
  }
  .heroContainer::before {
    content: none;
  }
  .heroMenu {
    font-size: 16px;
  }
}

/* @media (max-width: 1080px) {
  .heroRight {
    left: 50%;
    right: 0;
  }
  .heroBtn {
    max-width: 346px;
  }
} */

/* @media (max-width: 767px) {
  .hero {
    min-height: clamp(600px, 100vh, 676px);
    padding: 0;
  }
  .heroSubtitle {
    max-width: 350px;
    text-align: center;
  }
  .heroContent {
    position: static;
    flex-direction: column;
    text-align: center;
    gap: clamp(20px, 8vw, 40px);
    z-index: 3;
    max-width: none;
    width: 100%;
    padding: 0;

    margin-left: 0;
  }

  .heroLeft,
  .heroRight {
    width: 100%;
    min-width: auto;
  }
  .heroRight {
    top: -7%;
    left: -5%;
    width: 180vw;
    height: 100%;

    opacity: 0.3;
    order: 2;
    justify-content: center;
  }
  .heroLeft {
    gap: 49px;
    padding: 0 20px;
    order: 1;
    align-items: center;
  }
  .heroImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-height: none;
  }
  .heroRightMenu {
    margin-right: 0;
  }

  .heroBtn {
    width: 100%;
  }
  .heroTitle {
    font-size: 32px;
    text-align: center;
  }
  .heroText {
  }
  .hero::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7));
    z-index: 2;
    pointer-events: none;
  }
} */

/* @media (orientation: landscape) and (max-height: 500px) {
  .hero {
    min-height: 100vh;
  }

  .heroContent {
    flex-direction: row;
    gap: clamp(15px, 3vw, 30px);
  }

  .heroText {
    margin-bottom: clamp(15px, 3vw, 30px);
  }
} */

/* @media (max-width: 480px) {
  .heroText {
    margin-bottom: 0;
    text-align: center;
    align-items: center;
  }
  .heroText > :first-child {
    width: 98vw;
  }
  .heroBtn {
    width: 100%;
    max-width: 350px;
  }
} */
