.brand {
  background: var(--brand-bg);
}
.brandTitle {
  font-family: var(--font-roboto);
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
}
.brandViewAllBtn {
  background: none;
  box-shadow: inset 0 0 0 1px var(--green);
  color: var(--green);
  font-size: 16px;
  line-height: 18px;
  font-weight: 600;
}
.brandViewAllBtn:hover {
  background: #00523d4d;
  color: #fff;
}
.BrandName {
  font-family: var(--font-roboto);
  font-size: 24px;
  line-height: 28px;
  font-weight: 600;
}
.BrandDescription {
  line-height: 20px;
  font-size: 15px;
}
@media (width >= 64rem /* 1024px */) {
  .brandTitle {
    font-size: 32px;
    line-height: 38px;
  }
  .BrandName {
    font-size: 36px;
    line-height: 48px;
  }
  .BrandDescription {
    font-size: 16px;
  }
}
