.sidebar {
   max-height: calc(100vh - 120px);
   overflow-y: auto;
   overflow-x: hidden;
   scrollbar-width: none; 
   -ms-overflow-style: none;
}

.sidebar::-webkit-scrollbar {
  display: none; 
}

.sidebarTitle {
    border-bottom: 1px solid #dbdbdb;
}

