.catalog {
  background-color: var(--white);
  padding: 60px 40px 60px 40px;
  max-width: 1300px;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .catalog {
    padding: 60px 20px 60px 20px;
  }
  .catalogText {
    align-items: center;
  }
  .catalogTitle {
    align-self: flex-start;
    margin-left: 0;
  }
  .catalogSubtitle {
    max-width: 100%;
  }
}

@media (max-width: 1100px) {

  .catalogContent {
    align-items: flex-start;
  }
}
@media (max-width: 1023px) {
  .catalog {
    padding: 50px 20px 50px 20px;
  }
}
@media (max-width: 480px) {
  .catalog {
    padding: 40px 20px 60px 20px;
  }
  .catalogContent {
    margin: 0;
  }

  .catalogMenuContainer {
    width: 351px;
  }

  .catalogTitle {
    font-size: 32px;
  }

  .catalogSubtitle {
    font-size: 16px;
  }
}
