.header {
  background: rgba(227, 219, 200, 0.7);

  padding: 1rem 1.25rem;
  z-index: 40;
  position: fixed;
  overflow: hidden;
}

.logoName {
  font-family: var(--font-akatab);
  font-size: 16px;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1300px;
  margin: 0 auto;
}
.headerLogoIcon {
  width: 20px;
  height: 20px;
}
.headerLink {
  color: var(--black);
  font-size: 20px;
  text-decoration: none;
  transition: all 0.3s ease;
  position: relative;
}

.headerMobileMenuLink {
  font-size: 24px;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  color: var(--white);
  text-decoration: none;
  transition: all 0.3s ease;
  padding: 1rem 2rem;
  border-radius: 8px;
}

.headerMobileMenuLink:hover {
  text-shadow: 0 0 10px rgba(250, 250, 250, 0.8);
}
.headerMobileMenuBtn {
  background: transparent;
  border: none;
  cursor: pointer;
}

.headerMobileMenuIconClose {
  width: 23px;
  height: 23px;
}

.headerMobileMenu {
  bottom: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 60px);
  background: linear-gradient(0deg, #d1c4ac, #d1c4ac),
    linear-gradient(0deg, rgba(0, 0, 0, 0.27), rgba(0, 0, 0, 0.27));
  z-index: 50;
  box-shadow: 0px 4px 19.6px 2px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  pointer-events: auto;
}
.headerMobileLangSwitchBtn {
  color: var(--white);
  font-weight: 700;
}
.headerLangSwitchBtn {
  font-weight: 700;
  cursor: pointer;
}
.headerMobileSearchInput::placeholder {
  color: var(--white);
}
.headerMobileSearchInput:focus-visible {
  outline: none;
}
@media (width >= 48rem /* 768px */) {
  .header {
    padding: 1rem 2.625rem;
  }
  .logoName {
    font-size: 24px;
  }
  .headerLogoIcon {
    width: 26px;
    height: 26px;
  }
  .headerMobileSearchInput {
    line-height: 18px;
  }
  .headerMobileSearchInput::placeholder {
    color: var(--black);
  }
  .headerMobileMenu {
    top: 0;
    left: auto;
    right: 0;
    width: 250px;
    height: 430px;
    overflow: hidden;
    pointer-events: auto;
    z-index: -1;
  }
}
@media (width >= 64rem /* 1024px */) {
  .header {
    padding: 1.25rem 5rem;
  }
  .headerLogoIcon {
    width: 40px;
    height: 40px;
  }
}
@media (width >= 80rem /* 1280px */) {
  .header {
    padding: 1.25rem 7rem;
  }
}
