.adminLayout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  
}

.adminContent {
  display: flex;
  flex: 1;
  position: relative;
  min-height: calc(100vh - 80px);
  margin-top: 80px;
}

.mainContent {
  flex: 1;
  padding: 30px 40px;
}

@media (max-width: 1023px) {
  .adminContent {
    margin-top: 66px;
  }

  .mainContent {
    padding: 25px 30px;
  }
}

@media (max-width: 768px) {
  .adminContent {
    flex-direction: column;
    margin-top: 60px;
  }

  .mainContent {
    padding: 80px 15px 15px;
  }
}

@media (max-width: 480px) {
  .mainContent {
    padding: 75px 10px 10px;
  }
}

.mainContent::-webkit-scrollbar {
  width: 8px;
}

.mainContent::-webkit-scrollbar-track {
  background: var(--background);
}

.mainContent::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 4px;
}

.mainContent::-webkit-scrollbar-thumb:hover {
  background: #555;
}
