.saveToChatButton {
  height: 51px;
  min-width: 252px;
  border: 1px solid var(--green-primary);
  border-radius: 15px;
  padding: 16px 21px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 16px;
  font-weight: 500;
  color: var(--green-primary);
  transition: all 0.3s ease;
  cursor: pointer;
  white-space: nowrap;
}

.saveToChatButton:hover {
  background-color: rgba(0, 82, 61, 0.4);
  color: white;
}

.saveToChatButton.saved {
background-color: var(--green-primary);
  color: white;
  cursor: not-allowed;
}



@media (max-width: 1023px) {
  .saveToChatButton {
    min-width: 194px;
    padding: 12px 10px;
    gap: 6px;
    font-size: 13px;
  }
}

@media (max-width: 767px) {
  .saveToChatButton {
    height: 45px;
    padding: 12px 16px;
    font-size: 14px;
  }
}