.footer {
  position: relative;
  background-color: var(--dark-green-bg);
  bottom: 0;
  z-index: 90;
  color: var(--white);
}

.footerContainer {
  padding: 2.5rem 2rem;
  max-width: 1440px;
  margin-bottom: 1.875rem;
  margin: 0 auto;
}

.logoName {
  font-family: var(--font-akatab);
  font-size: 20px;
  font-weight: 700;
}
.footerLogoIcom {
  width: 28px;
  height: 28px;
}
.chronoIcon {
  width: 140px;
  height: 30px;
}
.chronoName {
  color: #ffffff66;
  opacity: 0.6;
  line-height: 20px;
}

.footerBottom {
  color: #ffffff66;
  opacity: 0.6;
}

.footerLinkTitle {
  font-family: var(--font-roboto);
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
}
.footerLink {
  color: #ffffffb2;
  opacity: 0.7;
}
/* .footerSocialLink {

}
.footerSocialLinkItem {
  background: #ffffff80;
  opacity: 0.5;
} */

@media (width >= 48rem /* 768px */) {
  .logoName {
    font-size: 24px;
  }
  .footerContainer {
    margin-bottom: 3.5rem;
    padding: 2rem 2.5rem;
  }
  .footerLinkTitle {
    font-size: 32px;
    line-height: 38px;
    font-weight: 600;
  }
  .footerLogoIcom {
    width: 40px;
    height: 40px;
  }
  .chronoIcon {
    width: 190px;
    height: 40px;
  }
}
@media (width >= 64rem /* 1024px */) {
  .footerContainer {
    padding: 2rem 6.25rem;
  }
}
