.filter {
  position: relative;
  cursor: pointer;
  width: fit-content;
  z-index: 1;
}

.filterBtn {
  cursor: pointer;
  position: relative;
  z-index: 3;
}
.filterDropdown {
  position: absolute;
  top: -20px;
  right: -20px;
  background-color: var(--white);
  padding: 48px 90px 48px 40px;
  max-width: 823px;
  width: 100vb;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  z-index: 2;
  column-gap: 40px;
  row-gap: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.filterDropdownOption {
  width: 100%;
  padding: 20px;
  height: 100%;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

.filterDropdownOption:hover {
  background-color: var(--light-gray);
}
@media (max-width: 1400px) {
  .filterDropdown {
    max-width: 450px;
    flex-direction: column;
    padding: 28px 70px 28px 20px;
    column-gap: 30px;
    row-gap: 10px;
  }
}
@media (max-width: 748px) {
  .filterDropdown {
    max-width: 340px;
    padding: 60px 20px 20px 20px;
    column-gap: 0;
  }
}

@media (max-width: 480px) {
  .filterDropdown {
    max-width: 240px;
  }
}
