.filter {
  position: relative;
  cursor: pointer;
  width: fit-content;
  z-index: 1;
}

.filterBtn {
  cursor: pointer;
  position: relative;
  z-index: 3;
}
.filterDropdown {
  position: absolute;
  top: -20px;
  right: -20px;
  background-color: var(--white);
  max-width: 350px;
  width: 100vb;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  z-index: 2;
  column-gap: 40px;
  row-gap: 20px;
  display: flex;
  flex-direction: column;
  padding: 60px 20px 20px 20px;
}

.filterDropdownOption {
  width: 100%;
  padding: 20px;
  height: 100%;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

.filterDropdownOption:hover {
  background-color: var(--light-gray);
}
