.badge {
  font-size: 15px;
  font-weight: 700;
  padding: 6px 7px 7px 8px;
  width: 34px;
  height: 27px;
  text-align: center;
}

.badgeTooltipWrapper {
  position: relative;
  display: inline-block;
  z-index: 10;
}

.badgeTooltip {
  position: absolute;
  left: 0;
  top: calc(100% + 6px);
  max-width: 240px;
  background: #f6f7f8; 
  color: #171414;
  padding: 6px 10px;
  border-radius: 20px;
  border: 1px solid #04694f;
  font-size: 12px;
  box-shadow: 0 4px 13px 2px rgba(0, 0, 0, 0.1);
  opacity: 0;
  visibility: hidden; 
  transform: translateY(-2px);
  transition: opacity .15s ease, transform .15s ease;
  pointer-events: none;
  z-index: 50;
  white-space: nowrap;
  font-weight: 500;

}

.badgeTooltipWrapper:hover .badgeTooltip {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.watchTitle {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  line-height: 1.2;
  color: var(--text-dark);
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  
}

.trendBadge {
  border-radius: 20px;
  padding: 1px 0px;
  width: 101px;
  height: 20px;
  background: rgba(4, 105, 79, 0.07);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.trendPeriod {
  font-weight: 400;
  font-size: 12px;
  color: #757575; 
  margin-top: 3px;
}

.trendValue {
  font-weight: 600;
  font-size: 14px;
  text-align: center;
}

.trendValuePositive {
  color: #05873b;
}

.trendValueZero {
  color: #d09c00;
}

.trendValueNegative {
  color: #C73D3D;
  background: #FEECEC;
}

.watchCard {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 8px 8px 15px 8px;
  width: 100%;
  background: white;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  transition: box-shadow 0.2s ease-in;
  cursor: pointer;
}

.watchCard:hover {
  box-shadow: 0 4px 12px 2px rgba(0, 0, 0, 0.25);
}

.buyButton {
  width: 100%;
  height: 31px;
  border-radius: 10px;
  background: #04694f;
  color: white;
  font-weight: 400;
  font-size: 16px;
  border: none;
  cursor: pointer;
  padding: 15px 0 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s ease;
}

.buyButton:hover {
  background: #00523d;
}

.watchImage {
  position: absolute !important;
    width: 150px !important;  
  height: 150px !important; 
  left: 0 !important;
  top: -24px !important;
  right: 0 !important;
  bottom: 0 !important;
 object-fit: cover !important;
object-position: center !important;
}


@media (max-width: 480px) {
  .watchCard {
    padding: 6px 6px 12px 6px;
    width: 100%;
  }
  
  .buyButton {
    height: 35px;
    font-size: 14px;
  }
  
  .trendBadge {
    width: 28px;
    font-size: 13px;
  }

  .watchImage {
    left: 0 !important;
    width: 100% !important;
    top: -30px !important;
    height: 140px !important;
  }

  .badge{
    width: 28px;
  }
}



@media (max-width: 639px) {
  .watchCard {
    padding: 8px 11px 14px 11px;
  }

  .buyButton {
    height: 35px;
    font-size: 14px;
    margin-top: 18px;
  }

  .trendBadge {
    width: 145px;
  }

  .watchImage {
    top: -26px !important;
    height: 130px !important;
    width: 100% !important;
  }
}



@media (min-width: 640px) and (max-width: 1023px) {
  .watchCard {
    padding: 8px 8px 15px 8px;
    width: 100%;
  }
  .watchTitle{
    padding-inline: 20px;
  }
  
  .buyButton {
    height: 31px;
    font-size: 16px;
  }
  
  .trendBadge {
    width: 101px;
  }

  .watchImage {
    left: 0 !important;
    width: 100% !important;
    top: -32px !important;
    height: 147px !important;
  }
}

@media (min-width: 1024px) {
  .watchCard {
    padding: 8px 8px 15px 8px;
    width: 214px;
  }

  .buyButton {
    height: 31px;
    font-size: 16px;
  }

  .watchImage {
    left: 26px !important;
  }
}


@media (max-width: 375px) {
  .watchCard {
    padding: 6px 6px 12px 6px;
  }
}

