.catalog {
  background-color: var(--white);
  min-height: clamp(300px, 40vh, 600px);
  padding: 0 53px 55px 70px;
}

.catalogContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 1300px;
  margin: 0 auto;
}

.catalogMenuContainer {
  max-width: clamp(300px, calc(100vw - 200px), calc(100vw - 300px));
  margin-left: clamp(0px, 5vw, 72px);
  width: 100%;
}

.catalogMenuContainer .catalogContent {
  max-width: clamp(300px, calc(100vw - 400px), calc(100vw - 620px));
}

.catalogMenuContainer .catalogBtn {
  margin-top: clamp(10px, 2vw, 20px);
}

.catalogText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  width: 100%;
}

.catalogHeading {
  font-size: clamp(28px, 5vw, 48px);
  font-weight: 400;
  color: var(--black);
  line-height: 1.2;
}

.catalogCards {
  display: flex;
  /* justify-content: center; */
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 15px;
}

.catalogBtn {
  margin: clamp(20px, 4vw, 40px) auto 0;
  padding: clamp(8px, 1vw, 12px) clamp(20px, 4vw, 40px);
  border-radius: clamp(4px, 0.5vw, 6px);
  transition: all 0.3s ease;
}

@media (max-width: 1280px) {
  .catalog {
    padding: 25px 22px 55px 40px;
  }
}
@media (max-width: 768px) {
  .catalog {
    padding: 25px 40px;
  }

  .catalogContainer {
    align-items: center;
    text-align: center;
  }

  .catalogText {
    /* align-items: center; */
    width: 100%;
  }

  .catalogMenuContainer {
    margin-left: 0;
    max-width: 100%;
  }

  @media (max-width: 480px) {
    .catalog {
      padding: 50px 20px;
    }

    .catalogContainer {
      padding: 0 clamp(15px, 3vw, 25px);
    }

    .catalogBtn {
      width: 100%;
      max-width: 300px;
    }
  }

  @media (orientation: portrait) {
    .catalogMenuContainer {
      margin-left: 0;
    }

    .catalogMenuContainer .catalogContent {
      max-width: 100%;
    }

    .catalogMenuContainer .catalogBtn {
      margin-left: 0;
    }
  }
}
