.card {
  width: clamp(330px, 35vw, 393px);
  border-radius: clamp(3px, 0.5vw, 8px);
  background-color: hsl(0, 0%, 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.08),
    0 1.5px 6px 0 rgba(0, 0, 0, 0.04);
  transition: all 0.3s ease;
  position: relative;
}
.cardElement {
  display: flex;
  align-items: center;
  gap: 7px;
  padding: 5px 11px 6px 10px;
  margin: 32px 25px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 5px;
  position: absolute;
  right: 0;
  top: 0;
}
.cardElementStarIcon {
  width: 21px;
  height: 21px;
}
.cardElementText {
  font-size: 14px;
  line-height: 17px;
}
.card:hover {
  box-shadow: 0 4px 27px 0 rgba(0, 0, 0, 0.2),
    0 1.5px 20px 0 rgba(0, 0, 0, 0.04);
  transform: translateY(-2px);
}

.cardContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 21px 15px;
  width: 100%;
  justify-content: flex-start;
}

.cardText {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.cardTitle {
  font-size: 20px;
  height: 50px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: var(--black);
  line-height: 1.4;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.cardPrice {
  font-size: 24px;
  line-height: 29px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  text-align: center;
  color: var(--black);
  margin-top: 16px;
  margin-bottom: 18px;
}

.cardBtn,
.cardLink {
  width: 100%;
}

.cardBtn {
  padding: clamp(8px, 1vw, 12px) clamp(16px, 2vw, 24px) !important;
  font-size: clamp(16px, 1.5vw, 16px) !important;
  border-radius: clamp(3px, 0.5vw, 6px) !important;
  transition: all 0.3s ease !important;
  white-space: nowrap !important;
}

.cardBtn:hover {
  background-color: var(--white) !important;
  outline: 1px solid var(--black) !important;
  color: var(--black) !important;
  transform: translateY(-1px) !important;
}

.cardImg {
  width: 100%;
  height: auto;
  max-height: 60%;
  object-fit: contain;
  margin-bottom: clamp(8px, 1vw, 12px);
}
@media (max-width: 1050px) {
  .cardTitle {
    font-size: 18px;
  }
  .cardContent {
    padding: 13px 16px;
  }
  .cardElement {
    margin: 23px 27px;
  }
}

@media (max-width: 835px) {
  .card {
    max-width: 100%;
    height: fit-content;
  }

  .cardText {
    flex-grow: unset;
  }

  .cardContent {
    padding: clamp(8px, 1.5vw, 12px);
  }

  .cardTitle {
    font-size: clamp(16px, 2vw, 18px);
  }
  .cardContent {
    padding: 13px 11px;
  }
  .cardElement {
    margin: 23px 22px;
  }
}

@media (max-width: 480px) {
  .cardPrice {
    font-size: 20px;
  }
  .cardContent {
    gap: clamp(6px, 1vw, 10px);
  }
  .cardTitle {
    font-size: 16px;
  }
  .cardBtn {
    padding: clamp(10px, 2vw, 14px) !important;
    font-size: clamp(16px, 2vw, 16px) !important;
  }
}

@media (max-width: 360px) {
  .cardTitle {
    font-size: clamp(12px, 3vw, 16px);
  }

  .cardPrice {
    font-size: clamp(16px, 3vw, 20px);
  }
}
