.container {
  padding: clamp(16px, 2vw, 24px);
  background: #fff;
  border: 5px solid var(--black);
  border-radius: 5px;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.chart {
  transform: translateY(30px);
}

.containerControls {
  height: 410px;
  padding: clamp(10px, 1.5vw, 16px);
  background: #fff;
  border: 5px solid var(--black);
  border-radius: 5px;
  box-sizing: border-box;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
}

.controlButtonsMob {
  display: none;
}

.tooltip {
  background-color: rgba(24, 35, 45, 1);
  border-radius: clamp(3px, 0.5vw, 8px);
  padding: clamp(4px, 1.5vw, 12px) clamp(6px, 2vw, 16px);
  color: var(--white);
  font-family: "Inter", sans-serif;
  font-size: clamp(10px, 2.5vw, 18px);
  position: relative;
  pointer-events: none;
  z-index: 1000;
  white-space: nowrap;
  text-align: center;
}

.tooltip::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 100%;
  width: 0;
  height: 0;
  border-left: clamp(4px, 1.5vw, 10px) solid transparent;
  border-right: clamp(4px, 1.5vw, 10px) solid transparent;
  border-top: clamp(4px, 1.5vw, 10px) solid rgba(24, 35, 45, 1);
}

.controlBtnActive {
  font-size: 20px !important;
  font-family: "Inter", sans-serif !important;
  font-weight: 400 !important;
  padding: 2px 18px !important;
  border-radius: 5px !important;
}

.controlBtn {
  font-size: 20px !important;
  font-family: "Inter", sans-serif !important;
  font-weight: 400 !important;
  padding: 2px 18px !important;
  border-radius: 5px !important;
  background-color: var(--white) !important;
  color: var(--black) !important;
  outline: 1px solid var(--black) !important;
}

.controlBtn:last-child:hover {
  background-color: var(--white) !important;
  color: var(--black) !important;
  outline: 1px solid var(--black) !important;
}

@media (max-width: 835px) {
  .container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px 5px;
  }
}
@media (max-width: 640px) {
  .container {
    display: flex;
    justify-content: center;
  }

  .controlButtonsMob {
    margin-bottom: 25px;
    display: block;
  }

  .container,
  .containerControls {
    height: 380px;
  }

  .controlButtons {
    display: none;
  }
}
