.productCard {
  box-shadow: 0px 4px 19.6px 2px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease-in-out;
  background-color: white;
}
.productCard:hover {
  box-shadow: 0px 4px 18.1px 5px rgba(0, 0, 0, 0.4);
}

.Price {
  font-weight: 500;
}
/* Score */
.scorePositive {
  background: rgba(222, 251, 234, 1);
  color: rgba(5, 135, 59, 1);
}

.scoreNeutral {
  background: rgba(255, 243, 213, 1);
  color: rgba(186, 121, 15, 1);
}

.scoreNegative {
  background: rgba(253, 220, 220, 1);
  color: rgba(185, 27, 27, 0.9569);
}

/* Percent */
.percentPositive {
  color: rgba(4, 108, 47, 1);
}
.percentNeutral {
  color: rgba(186, 121, 15, 1);
}
.percentNegative {
  color: rgba(185, 27, 27, 0.9569);
}

.productCardScore {
  font-size: 13px;
}
.marketCardHeadPercent {
  font-size: 14px;
}
@media (width >= 48rem /* 768px */) {
  .productCardScore {
    font-size: 15px;
  }
  .marketCardHeadPercent {
    font-size: 16px;
  }
}

.productCardImage {
  position: absolute !important;
  width: 100% !important;
  height: 100% !important;
  left: 0 !important;
  top: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  object-fit: cover !important;
  object-position: center !important;
}